/*

    base css입니다.
    Noto Sans KR, Dancing Script 폰트 추가했습니다.
    
*/

/* css 초기화, 폰트 import */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Noto+Sans+KR:wght@100;400;700&display=swap');

/* 메인 테마 컬러 정의 */
:root {
    --coral: #f08080;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* ************************************************************ */
/* text 관련 클래스 */
.bold-text {
    font-weight: 700;
}

.light-text {
    font-weight: 300;
}

/* ************************************************************ */

/* Header */
.header {
    width: 100%;
    border-bottom: 1px solid lightgrey;
    padding: 10px 10vw 20px 10vw;
}

.header-links {
    margin-left: 44vw;
    width: 20vw;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    text-shadow: 1px 2px 2px lightcoral;
}

.kakao-login {
    background-color: white;
    border: 2px solid lightcoral;
    border-radius: 30px;
    padding: 8px;
}

.kakao-login>a {
    font-weight: 400;
}

/* ************************************************************ */

/* Footer */
.footer {
    display: inline-flex;
    width: 100%;
    padding: 2vw 12vw 2vw 12vw;
    border-top: 1px solid var(--coral);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../images/background-img.png');
}

.footer-text {
    font-size: 25pt;
    font-family: 'Dancing Script', cursive;
    margin-right: 5vw;
}

.footer-cs {
    margin-left: 15vw;
}

/* ************************************************************ */

/* content */

/* [sehwan] */

/* 전체 컨테이너 css */
.out {
  margin: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

/* 소개 문구 css */
.intro {
  font-family: 'Dancing Script', cursive;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 40pt;
  margin-bottom: 3%;
  text-shadow: 1px 2px 2px lightcoral;
}

/* 백, 프론트 인원 div 공통 css */
.back-end,
.front-end {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* 프론트 전체 div css */
.front-end {
  padding: 5%;
  justify-content: space-around;
}

/* 백 전체 div css */
.back-end .profile {
  margin-left: 50px;
  margin-right: 50px;
}

/* 프로필 전체를 감싸는 div css */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 프로필 이미지 css */
.profile-image {
  position: relative;
  width: 200px;
  height: 200px;
  border: 3px solid #FFB8B9;
  border-radius: 100px;
  margin-bottom: 5%;
  z-index: 2;
}

/* 프로필 인원 소개문구를 감싸는 div css */
.profile-box {
  position: relative;
  width: 300px;
  height: auto;
  top: -70px;
  z-index: 1;
  background-color: #F8F8FF;
  padding-top: 10%;
  padding-bottom: 5%;
  border-radius: 15px;
  padding-left: 30px;
}

/* 프로필 소개 문구 css */
.profile-content {
  color:	#808080;
}

/* 이름 css */
.name {
  font-weight: bold;
  font-size: 30px;
}
