
/* 메인 테마 컬러 정의 */
:root {
    /* 스와이퍼 페이지네이션 컬러 덮어쓰기 !!*/
    --swiper-theme-color: lightcoral;
}

/* ************************************************************ */

/* content */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

hr {
    border: 0;
    border-top: 1px solid lightcoral;
}

.stores {
    margin-top: 7%;
}

.title {
    font-size: 20pt;
}

/* 스와이퍼 컨테이너 시작 */

.swiper-container {
    width: 100%;
    height: 50vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/* 스와이퍼 안의 슬라이드들 */

.swiper-slide {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
}

.swiper-slide:first-child {
    background-image: url(https://pbs.twimg.com/media/EczCEXiVcAAPKdO.jpg);
}

.swiper-slide:nth-child(2) {
    background-image: url(https://2.bp.blogspot.com/-sw4TtAG2hj4/XplmVKfeSEI/AAAAAAAALlo/Ox67EIZkMCkRt-064sPAz9c5mIkLAWcSACLcBGAsYHQ/s1600/with.macaron_84663819_187341109034716_1278072600252274269_n.jpg);
}

.swiper-slide:last-child {
    background-image: url(https://blog.hmgjournal.com/images/contents/article/201602171355-Reissue-dessert-anguk-01.jpg);
}

.head-line-text {
    font-size: 20pt;
    color: white;
    font-family: 'Dancing Script', cursive;
    text-shadow: 2px 2px 2px lightsalmon;
}

.main-text {
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    text-shadow: 1px 1px 2px grey;
}

.swiper-pagination,
.swiper-button-next,
.swiper-button-prev {
    color: lightcoral;
}

/* ************************************************************ */

.stores-img-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr 1fr;
    gap: 40px;
    text-align: center;
}

.stores-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 3%;
    margin-left: 3%;
}

.stores-img:hover {
    filter: grayscale(100%);
}

.store-title {
    font-weight: 100;
    font-size: 15pt;
}