* {
    margin: 0;
    padding: 0;
}

.border {
    width: 90vw;
    height: 3px;
    background: #C2C2C2;
    margin: 26px auto;
}

.place-image {
    width: 500px;
    height: auto;
}

.item {
    text-align: center;
}

.item-title {
    text-align: center;
}

.item-id {
    text-align: center;

}

.item-des {
    text-align: center;
}



.totalbox {
    display: block;
    /* justify-content: center; */
    align-items: center;
    width: 90%;
    height: 100%;
    margin: auto;
    /* background-color: aquamarine; */
}

.img-box {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.searchBox {
    width: 20%;
    border-collapse: collapse;
    margin: auto;
    width: 90vw;
    margin-top: 25px;
}

.searchBox td {
    padding: 12px 15px;
    border: 1px solid #f1f1f1;

}

.searchBox th {
    background-color: #f1f1f1;
    padding: 12px 15px;
    border: 1px solid #f1f1f1;
    text-align: center;
}

.searchDate {
    display: flex;
    padding: 10px;
    margin: 0 15px;
}

input[type="submit"] {
    width: 100%;
    color: #C83B2B;
    border: 0;
    padding: 5px;
    border-radius: 20px;
    font-size: 17px;
}

.chkbox2 {
    padding: 90px;
    font-size: 16px;
}

a {
    color: black;
}

.footer{
    height: auto;
}

