
/* ************************************************************ */

/* content */

.infoWindows{
    display: flex;
    flex-direction: row;
    padding: 10px 0 10px 10px;
}

.infoWindows-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
}

.infoWindows-sub-title {
    font-size: 13pt;
}

.infoWindows-sub{
    display: flex;
    flex-direction: column;
}

.infoWindows-sub-description{
    color: gray;
    word-break: keep-all;
    width: 300px;
    font-size: 10pt;
}

.infoWindows-Button{
    display: flex;
    margin-top: 7%;
    justify-content: center;
    align-items: center;
}

.info-open {
    width: 120px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid lightcoral;
    color: var(--coral);
}

.info-close {
    width: 120px;
    background-color: lightcoral;
    color: white;
    border-radius: 20px;
    color: var(--coral);
}
