<h1>place</h1>
{% for item in places %}
{% if item.image %}
<img class="" id="image{{item.id}}" src="{{ item.image.url }}" , alt="">
{% endif %}

<div id="title{{item.id}}">{{item.title }}</div>
<div id="description{{item.id}}">{{item.description }}</div>
<div id="state{item.id}}">가게 상태: {{ item.state }}</div>
<form action="{% url 'place-update' %}?id={{ item.id }}" name="update" method="post">
    {% csrf_token %}
    <button type="submit">수정하기</button>
    <br/>
</form>
<a href="" onclick="estimate_popup();">
    <div>예약하러 가기</div>
</a>

<script>

        function estimate_popup() {
            window.open("{% url 'reservation-create' item.id %}", "a","width=800, height=500")
        }


</script>

{% endfor %}


