{% extends 'base.html' %}
{% load static %}
{% block title %}라이온더스{% endblock %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<link rel="stylesheet" href="{% static 'css/reservation.css' %}"/>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js"></script>



<script src="js\jquery-ui.min.js"></script>
<script>
$(document).ready(function() {
    $('.datepicker').datetimepicker();
});

</script>


<h1>예약하기</h1>

<form enctype="multipart/form-data" action="{% url 'reservation-create' place.id%}" method="post">
    <input type="hidden" name="id" value="{{ form.instance.id }}"/>
    <div class="form-container">
        {{ form.media }}
        {% csrf_token %}
        {{ form | crispy }}
    <button type="submit">예약하기</button>
    </div>
</form>
</div>

{% endblock %}