<h1>Reservation</h1>
{% for item in places %}
{% if item.img %}
<img class="" id="image{{item.id}}" src="{{ item.img.url }}" , alt="">
{% endif %}
<a href="{% url 'reservation-create' %}">예약하기</a>
<div id="title{{item.id}}">{{item.place }}</div>
<div id="description{{item.id}}">예약자 : {{item.user.nickname }}</div>
<div id="state{item.id}}">예약 날짜 : {{item.created_at }}</div>
<form action="{% url 'reservation-update' %}?id={{ item.id }}" name="update" method="post">
    {% csrf_token %}
    <button type="submit">예약 수정</button>
    <br/>
</form>
{% endfor %}


